// colors
$accentColor: #006dff;
$textColor: #333;
$borderColor: #c8c7cc;
// $codeBgColor: #282c34;
$arrowBgColor: #006dff;
$badgeTipColor: #00bfbd;
$badgeWarningColor: #ff7140;
$badgeErrorColor: #fa4692;
